.accepted-title {
    color: #444;
    font-size: 14px;
    margin-right: 2px;
}

.accepted-title[data-num]:before,
.accepted-title > strong[data-num]:before {
    content: attr(data-num);
    width: 25px;
    display: inline-block;
    color: #aaa;
    font-style: italic;
}

.accepted-authors {
    display: block;
    font-size: 12px;
    line-height: 1.75;
    color: #999;
}

.accepted-authors a,
.accepted-authors .author {
    color: #777;
}

.accepted-abstract {
    margin: 5px 0 5px 0;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.accepted-abstract.accepted-expanded {
    margin-bottom: 25px;
    overflow: visible;
    white-space: normal;
    height: auto;
    cursor: auto;
}

.accepted-abstract-action {
    position: absolute;
    left: 2px;
    top: 3px;
    display: inline-block;
    background: url("../img/caret.svg") 0 0/10px 10px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    transition: all .5s;
}

.accepted-expanded .accepted-abstract-action {
    transform: rotate(-180deg);
}