.sponsor-logos {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin: 30px 0 50px -8px;
}

.sponsor-logos img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sponsor-logos a {
    margin: 0 0 38px 8px;
    display: block;
    text-decoration: none;
    position: relative;
}

/*
1	208	8	200	150
2	360	8	172	129
3	420	8	132	99
4	480	8	112	84
5	480	8	88	66
---------------
2	320	8	152	114
3	360	8	112	84
4	400	8	92	69
5	480	8	88	66
6	480	8	72	54
 */

/* 3 */
.sponsor-logos.sponsor-1 > a {
    max-width: calc((100% / 3) - 8px); /* 328px; */
    min-width: calc(100% / 4);
    height: 150px;
}

/* 4 */
.sponsor-logos.sponsor-2 > a {
    max-width: calc((100% / 4) - 8px); /* 244px; */
    min-width: calc(100% / 5);
    height: 110px;
}

/* 5 */
.sponsor-logos.sponsor-3 > a {
    max-width: calc((100% / 5) - 8px); /* 194px; */
    min-width: calc(100% / 6);
    height: 90px;
}

/* 6 */
.sponsor-logos.sponsor-4 > a {
    max-width: calc((100% / 6) - 8px); /* 160px; */
    min-width: calc(100% / 7);
    height: 75px;
}

/* 7 */
.sponsor-logos.sponsor-5 > a {
    max-width: calc((100% / 7) - 8px); /* 136px; */
    min-width: calc(100% / 8);
    height: 65px;
}

/* 8 */
.sponsor-logos.sponsor-6 > a {
    max-width: calc((100% / 8) - 8px); /* 136px; */
    min-width: calc(100% / 9);
    height: 55px;
}

.sponsor-spacer {
    flex-shrink: 1;
    height: 0 !important;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 960px) {
    .sponsor-logos {
        align-content: space-between;
        margin: 10px 0 50px -8px;
    }

    /* 2 */
    .sponsor-logos.sponsor-1 > a {
        max-width: calc((100% / 2) - 8px);
        min-width: calc(100% / 3);
        height: 140px;
    }

    /* 3 */
    .sponsor-logos.sponsor-2 > a {
        max-width: calc((100% / 3) - 8px);
        min-width: calc(100% / 4);
        height: 95px;
    }

    /* 4 */
    .sponsor-logos.sponsor-3 > a {
        max-width: calc((100% / 4) - 8px);
        min-width: calc(100% / 5);
        height: 65px;
    }

    /* 5 */
    .sponsor-logos.sponsor-4 > a {
        max-width: calc((100% / 5) - 8px);
        min-width: calc(100% / 6);
        height: 55px;
    }

    /* 6 */
    .sponsor-logos.sponsor-5 > a {
        max-width: calc((100% / 6) - 8px);
        min-width: calc(100% / 7);
        height: 45px;
    }

    /* 7 */
    .sponsor-logos.sponsor-6 > a {
        max-width: calc((100% / 7) - 8px);
        min-width: calc(100% / 8);
        height: 35px;
    }
}

@media screen and (max-width: 370px) {
    .sponsor-logos img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* 1 */
    .sponsor-logos.sponsor-1 > a {
        max-width: calc((100% / 1) - 8px);
        min-width: calc(100% / 1.7);
        height: 120px;
    }

    /* 2 */
    .sponsor-logos.sponsor-2 > a {
        max-width: calc((100% / 2) - 8px);
        min-width: calc(100% / 2.5);
        height: 45px;
    }

    /* 3 */
    .sponsor-logos.sponsor-3 > a {
        max-width: calc((100% / 3) - 8px);
        min-width: calc(100% / 3.5);
        height: 35px;
    }

    /* 4 */
    .sponsor-logos.sponsor-4 > a {
        max-width: calc((100% / 4) - 8px);
        min-width: calc(100% / 4.5);
        height: 30px;
    }

    /* 5 */
    .sponsor-logos.sponsor-5 > a {
        max-width: calc((100% / 5) - 8px);
        min-width: calc(100% / 5.5);
        height: 25px;
    }

    /* 6 */
    .sponsor-logos.sponsor-6 > a {
        max-width: calc((100% / 6) - 8px);
        min-width: calc(100% / 6.5);
        height: 20px;
    }
}