@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/55b1a2d4.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/55b1a2d4.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/8eb943dc.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/8eb943dc.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/10a8a71c.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/10a8a71c.woff') format('woff');
	font-weight: 400;
}
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/77152bd8.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/77152bd8.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/562cfc21.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/562cfc21.woff') format('woff');
	font-weight: 600;
}
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('https://vldb2019.github.io/font/85dd67ea.woff2') format('woff2'),
	     url('https://vldb2019.github.io/font/85dd67ea.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}